@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&family=IBM+Plex+Sans:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin: 0;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .menu #checkbox-hack {
  width: 22px;
  height: 44px;
  margin-left: 81px;
  z-index: 2;
  opacity: 0;
}

.container .menu .menu-bar {
  width: 18px;
  height: 2px;
  background-color: black;
  margin-bottom: 4px;
  z-index: 1;
  position: relative;
  top: -35px;
  right: -81px;
}

.container .menu nav {
  opacity: 0;
}

.container .menu nav ul li {
  list-style: none;
  text-decoration: none;
}

.container .menu nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}

.container .menu #checkbox-hack:checked ~ .menu-bar.primer-linea {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

.container .menu #checkbox-hack:checked ~ .menu-bar.segunda-linea {
  opacity: 0;
}

.container .menu #checkbox-hack:checked ~ .menu-bar.tercer-linea {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

.container .menu #checkbox-hack:checked ~ nav {
  opacity: 1;
  position: absolute;
  width: 320px;
  left: 0;
}

.logo {
  width: 24px;
  margin-left: 16px;
}

.container .menu nav {
  background: #0000EC;
  width: auto;
  font-family: "IBM Plex Mono";
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 28px;
}

.contenedor .titulo {
  font-weight: 100;
  font-family: "IBM Plex Sans";
  font-size: 36px;
  color: #060A24;
  letter-spacing: 0px;
  line-height: 42px;
  margin: 16px;
}

.contenedor .hello {
  width: 85px;
  height: 42px;
}

.contenedor .tachado {
  text-decoration: line-through;
  width: 101px;
  height: 42px;
}

.contenedor .fin {
  width: 212px;
  height: 42px;
}

.contenedor #p_primero {
  width: 288px;
  height: 66px;
  margin: 16px;
  font-family: "IBM Plex Mono";
  font-size: 14px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 22px;
  text-align: justify;
}

.contenedor #p_segundo {
  display: none;
}

.contenedor #boton-inicio {
  width: 288px;
  height: 48px;
  background: #00F3BB;
  text-align: center;
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  font-size: 18px;
  color: #060A24;
  letter-spacing: 0;
  text-align: center;
  line-height: 22px;
  margin: 16px;
}

.contenedor #boton-inicio:hover {
  background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
  color: #FFFFFF;
}

.episodios {
  width: 100%;
  height: 1203.5px;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  -webkit-clip-path: polygon(0 3%, 100% 0%, 100% 95%, 0% 100%);
          clip-path: polygon(0 3%, 100% 0%, 100% 95%, 0% 100%);
}

.episodios #epi {
  width: 157px;
  height: 42px;
  font-family: "IBM Plex Sans";
  font-size: 36px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 42px;
  padding: 64px 16px;
  font-weight: 100;
}

.episodios .frame {
  width: 298px;
  height: 232px;
  margin: 0;
  background: transparent;
  border: 0;
  overflow: hidden;
}

.episodios .azul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 11px;
}

.movil {
  position: relative;
  top: -100px;
  margin-bottom: -100px;
  width: 100%;
  z-index: 3;
}

.movil #phone {
  width: 320px;
  height: 519px;
}

.movil #derecho .articulo {
  margin: 16px;
}

.movil #derecho .articulo.titulo {
  width: 288px;
  height: 84px;
  font-family: "IBM Plex Sans";
  font-size: 36px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 42px;
}

.movil #derecho .articulo.parrafo {
  width: 288px;
  height: 254px;
  font-family: "IBM Plex Mono";
  font-size: 14px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 22px;
  text-align: justify;
}

#invitadas-estelares {
  width: 100%;
}

#invitadas-estelares #invitadas {
  width: 288px;
  height: 84px;
  margin: 16px;
  font-family: "IBM Plex Sans";
  font-size: 36px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 42px;
  font-weight: 100;
}

#invitadas-estelares .imagenes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

#invitadas-estelares .imagenes img {
  width: 320px;
  height: 243px;
}

#nuestros-temas {
  width: 100%;
}

#nuestros-temas h2 {
  font-family: "IBM Plex Sans";
  font-size: 36px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 42px;
  margin: 16px;
  font-weight: 100;
}

#nuestros-temas .icono {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 37px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 24px;
  color: #060A24;
  letter-spacing: 0;
  text-align: center;
}

#nuestros-temas .icono p {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 24px;
  color: #060A24;
  letter-spacing: 0;
  text-align: center;
  font-weight: 600;
}

#novedades .azul-abajo {
  width: 100%;
  height: 341px;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  -webkit-clip-path: polygon(0 12%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0 12%, 100% 0%, 100% 100%, 0% 100%);
}

#novedades .azul-abajo.azul-abajo h2 {
  font-family: "IBM Plex Sans";
  font-size: 36px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  line-height: 42px;
  padding: 64px 0 30px 0;
}

#novedades .azul-abajo #boton-fin {
  width: 288px;
  height: 48px;
  background: #00F3BB;
  font-family: "IBM Plex Mono", monospace;
  font-size: 18px;
  color: #060A24;
  letter-spacing: 0;
  text-align: center;
  line-height: 22px;
  margin: 16px;
  font-weight: bold;
}

#novedades .azul-abajo #boton-fin:hover {
  background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
  color: #FFFFFF;
}

#footer__mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 45px;
  margin-top: 20px;
  margin-left: 45px;
}

#footer__mobile .footer__title {
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
  width: 100%;
  margin-bottom: 16px;
  text-align: center;
}

#footer__mobile .footer__redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#footer__mobile .footer__redes a i {
  color: #060A24;
  width: 16px;
  height: 28px;
}

@media screen and (min-width: 1024px) {
  .container {
    margin: 26px 100px;
    height: 80px;
    background-color: #ffffff;
    z-index: 2;
  }
  .container .menu {
    text-align: center;
    margin-top: -26px;
  }
  .container .menu .menu-bar {
    display: none;
  }
  .container .menu .normal {
    display: inline;
    list-style: none;
    padding-bottom: 22px;
    opacity: 1;
  }
  .container .menu .normal li {
    display: inline;
  }
  .container .menu .normal li a {
    text-decoration: none;
    padding: 0 10px 0 48px;
    color: #060a24;
  }
  .container .menu .normal li a:hover {
    color: #00F3BB;
    text-decoration: line-through;
  }
  .container .menu .normal li a:active {
    color: rgba(6, 10, 36, 0.56);
    text-decoration: line-through;
  }
  .container .logo {
    width: 36px;
    height: 36px;
    margin-top: 22px;
  }
  .contenedor {
    margin-top: 120px;
  }
  .contenedor .principal {
    margin-left: 200px;
  }
  .contenedor .principal .titulo {
    font-size: 64px;
    margin-left: 0;
  }
  .contenedor .principal .titulo br {
    display: none;
  }
  .contenedor .principal .titulo .hello {
    margin-right: 0;
  }
  .contenedor .principal .titulo .punto {
    color: #0000EC;
  }
  .contenedor .principal #p_primero {
    display: none;
  }
  .contenedor .principal #p_segundo {
    display: block;
    width: 628px;
    height: 48px;
    font-family: "IBM Plex Mono";
    font-size: 16px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 24px;
    z-index: 3;
  }
  .contenedor .principal #boton-inicio {
    margin-top: 56px;
    margin-left: 0;
    width: 226px;
    height: 56px;
  }
  .contenedor .episodios {
    width: 100%;
    height: 1042.6px;
    -webkit-clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
            clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
  }
  .contenedor .episodios .azul {
    margin: 0px 100px;
  }
  .contenedor .episodios .azul #epi {
    font-size: 48px;
    margin-top: 85px;
    margin-left: 200px;
  }
  .contenedor .episodios .azul .episodios-pods {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    text-align: center;
  }
  .contenedor .episodios .azul .frame {
    border: 0;
    width: 500px;
    height: 232px;
    margin-bottom: 5px;
    margin-top: 26px;
    margin-left: 30px;
    margin-right: 20px;
  }
  .contenedor .transform .movil {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .contenedor .transform .movil #phone {
    width: 457.6px;
    height: 660px;
    margin-left: 175px;
  }
  .contenedor .transform .movil #derecho .articulo {
    margin-left: 62.5px;
  }
  .contenedor .transform .movil #derecho .articulo.titulo {
    font-size: 48px;
    width: 399px;
    height: 62px;
  }
  .contenedor .transform .movil #derecho .articulo.parrafo {
    width: 464px;
    height: 204px;
    font-size: 16px;
    line-height: 24px;
  }
  .contenedor .transform #invitadas-estelares #invitadas {
    font-size: 48px;
    margin-left: 200px;
    margin-top: 64px;
    width: 481px;
    height: 62px;
  }
  .contenedor .transform #invitadas-estelares .imagenes {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .contenedor .transform #invitadas-estelares .imagenes img {
    width: 100%;
    height: 364px;
  }
  .contenedor .transform #nuestros-temas #algunos-de-nuestros-temas {
    width: 586px;
    height: 62px;
    margin-top: 64px;
    font-size: 48px;
    margin-left: 200px;
  }
  .contenedor .transform #nuestros-temas .contenedor-icono {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    margin-left: 100px;
  }
  .contenedor .transform #nuestros-temas .contenedor-icono .icono {
    font-size: 24px;
    width: 200px;
  }
  .contenedor .transform #nuestros-temas .contenedor-icono .icono p {
    font-size: 24px;
    font-weight: 600;
  }
  .contenedor .transform #novedades .azul-abajo {
    width: 100%;
    -webkit-clip-path: polygon(0 18%, 100% 0%, 100% 100%, 0% 100%);
            clip-path: polygon(0 18%, 100% 0%, 100% 100%, 0% 100%);
    height: 518px;
  }
  .contenedor .transform #novedades .azul-abajo h2 {
    padding-top: 213px;
    font-size: 48px;
    font-weight: 100;
  }
  .contenedor .transform #novedades .azul-abajo #boton-fin {
    margin-top: 36px;
    width: 345px;
    height: 56px;
    margin-left: 37%;
  }
  #footer__mobile {
    margin-left: 100px;
    margin-right: 100px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #footer__mobile .footer__title {
    font-size: 16px;
    line-height: 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  #footer__mobile .footer__redes {
    width: 30%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
/*# sourceMappingURL=styles.css.map */